/*MISCELANEOUS*/
/*RESET*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* globals*/
html {
  font-size: 62.5%; }

ul {
  list-style-type: none; }

ol {
  list-style-type: none; }

a {
  text-decoration: none;
  color: black; }

img {
  width: 100%; }

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

/*PARTIALS*/
header {
  background-color: black;
  color: white;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  header .titulo {
    padding: 1.3rem; }
    header .titulo__pagina a {
      color: white; }
  header #contenedorTienda {
    text-align: center; }
  header .carritoDiv {
    text-align: center; }
  header .link {
    font-size: 2em;
    transition: ease-in-out 0.5s; }
  header .link:hover {
    color: red; }
  header .selector {
    transition: ease-in-out 0.5s; }
  header #btnCarrito {
    padding: 0.9rem;
    margin-top: 1rem; }
  header .texto__envio {
    font-size: 1.5em;
    padding: 1.3rem; }

footer {
  background-color: black;
  color: white; }

/*VIEWS*/
main img {
  width: 250px; }

main .contenedor .display .card {
  padding: 1.5rem; }
