/*MISCELANEOUS*/
/*RESET*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* globals*/
html {
  font-size: 62.5%; }

ul {
  list-style-type: none; }

ol {
  list-style-type: none; }

a {
  text-decoration: none;
  color: white; }

img {
  display: block; }

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 90%;
  margin: 0 auto; }

/*PARTIALS*/
header {
  background-color: black;
  color: white; }
  header #contenedorTienda {
    text-align: center; }
  header .navbar {
    display: flex;
    justify-content: space-between;
    font-size: 2.1rem; }
  header .carritoDiv {
    text-align: center; }
  header p {
    font-size: 2rem;
    display: flex;
    flex-direction: column; }

footer {
  background-color: black;
  color: white; }

/*VIEWS*/
main .cards {
  align-items: center;
  display: flex;
  flex-direction: column; }
  main .cards .card {
    border-color: black;
    border-style: solid;
    max-width: 30%;
    padding: 2rem; }
