header {
    background-color: black;
    color: white;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .titulo {
        padding: map-get($paddings, large );
        &__pagina {
            a{
                color: white;
            }
        }
    }

    #contenedorTienda {
        text-align: center;
    }

    .carritoDiv {
        text-align: center;
    }
    
    .link {
        font-size: map-get($font-size, xxlarge);
        transition: ease-in-out 0.5s;
    }

    .link:hover{
        color: red;

    }

    .selector {
        transition: ease-in-out 0.5s;
    }

   

    #btnCarrito {
        padding: map-get($paddings, small );
        margin-top: 1rem;
    }

    .texto__envio {
        font-size: map-get($font-size, xlarge );
        padding: map-get($paddings, large );
    }

    



}