@mixin flex($direction: row, $justify: flex-start, $align: flex-start, $gap : 0, $wrap: no-wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
  }
    
  .flex-column {
      display: flex;
      flex-direction: column;
    }
    
  .container {
       max-width: 90%;
       margin: 0 auto;
     }