$principalColor: black;
$secondaryColor: white;


$font-size : (
    xxxlarge: 3.0em,
    xxlarge: 2.0em,
    xlarge: 1.5em,
    large: 1.3em,
    medium: 1.1em,
    small: 0.9em,
    xsmall:0.8em,
);

$paddings: (
    xxxlarge:3.0rem,
    xxlarge: 2.0rem,
    xlarge: 1.5rem,
    large: 1.3rem,
    medium: 1rem,
    small: 0.9rem,
);